body {
  background: #F2F5C8
}

.container{
  max-width: 100vw;
  position: relative;
  z-index: 1;
}

.form-control:focus {
  box-shadow: none;
  border-color: #BA68C8
}

.profile-button {
  background: #219F94;
  color: #757575;
  box-shadow: none;
  border: none
}

.profile-button:hover {
  background: #1e8077
}

.profile-button:focus {
  background: #219F94;
  box-shadow: none
}

.profile-button:active {
  background: #219F94;
  box-shadow: none
}

.back:hover {
  color: #C1DEAE;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #BA68C8;
  color: #fff;
  cursor: pointer;
  border: solid 1px #BA68C8
}